* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

div.item {
    background-color: aquamarine;
    border: solid 2px;
    text-align: center;
    font-weight: bold;
}


.container {
    display: grid;
    width: 100%;
    gap: 10px;
    padding: 10px;
    min-height: 600px;
    margin: 0 auto;
    grid-template-columns: 38% 20% 20% 20%;
    grid-template-rows: [row1-start] 50px [row1-end] 350px [third-line] 100px [last-line] 80px;
    grid-template-areas:
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar content-1 content-2 content-3"
        "sidebar footer footer footer";
}


.one {
    grid-area: nav;
}


.two {
    grid-area: sidebar;
}

.three {
    grid-area: main;
}

.four {
    grid-area: content-1;
}


.five {
    grid-area: content-2;
}

.six {
    grid-area: content-3;
}

.seven {
    grid-area: footer;
}